<%= high_chart_globals(@chart_globals) %>
<% content_for :title, "Comtistic | #{@player.name}" %>






<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card m-1">
        <h5  class="card-header">
          Spielerinfos
        </h5>
        <img class="card-img" src="/images/<%=@verein%>.png" alt="Card image">

        <div class="card-block card-img-overlay">

          <table class="tables" style="width:100%"  >
            <tbody>
            <tr> </tr>
            <tr> </tr>
            <tr> </tr>
            <tr> </tr>
            <tr>
              <td >Name</td>
              <td align="right"><%= @player.name %></td>
            </tr>
            <tr>
              <td >Marktwert</td>
              <td align="right"><%= number_with_delimiter( @value.last["value"],delimiter: " ") %></td>
            </tr>
            <tr>
              <td>Position</td>
              <td  align="right"><%= @player.position %></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="card m-1"  >
        <h5  class="card-header">
          aktuelle Saison
        </h5>
        <div class="card-block">
          <table class="tables"    style="width:100%" >
            <tbody>

            <tr>
              <td>Punkte</td>
              <td align="right"><%= @saisoninfo.sum(:punkte) %></td>
            </tr>
            <tr>
              <td>Einsätze</td>
              <td align="right"> <%=@saisoninfo.sum(:einsatz)%></td>
            </tr>
            <tr>
              <td>Tore</td>
              <td align="right"> <%=@saisoninfo.sum(:tore)%></td>
            </tr>
            <tr>
              <td>Punkte pro Spiel</td>
              <td align="right"><%= if @saisoninfo.sum(:einsatz) == 0 then 'na' else (@saisoninfo.sum(:punkte).to_f/@saisoninfo.sum(:einsatz)).to_f.round(2) end %></td>
            </tr>
            <tr>
              <td>PpS pro Millionen</td>
              <td align="right"><%= if @saisoninfo.sum(:einsatz) == 0 then 'na' else ((@saisoninfo.sum(:punkte).to_f/@saisoninfo.sum(:einsatz))/(@value.last["value"].to_f/1000000)).round(1)  end%></td>
            </tr>
            <tr>
              <td>Durchschnittsnote</td>
              <td align="right"><%= if @saisoninfo.sum(:einsatz) == 0 then 'na' else 4-((@saisoninfo.sum(:note).to_f/@saisoninfo.sum(:einsatz))/2).to_f.round(1)  end%></td>
            </tr>
            <tr>
              <td>Karten (G/GR/R)</td>
              <td align="right"><%= if @saisoninfo.sum(:einsatz) == 0 then 'na' else "#{@saisoninfo.sum(:gelb)} / #{@saisoninfo.sum(:gelbrot)} / #{@saisoninfo.sum(:rot)} " end%></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card m-1"  >
        <h5  class="card-header">
          letzte Saison
      </h5>
        <div class="card-block">
          <table class="tables"    style="width:100%" >
            <tbody>

            <tr>
              <td>Punkte</td>
              <td align="right"><%= @player.punkte %></td>
            </tr>
            <tr>
              <td>Einsätze</td>
              <td align="right"><%= if (@player.punkte/@player.pps).nan? then '0'
                                    else if (@player.punkte/@player.pps).to_i >= 34 then '34'
                                         else (@player.punkte/@player.pps).to_i end
                                    end %></td>
            </tr>
            <tr>
              <td>Punkte pro Spiel</td>
              <td align="right"><%= if @player.pps == 0 then 'na' else @player.pps.round(2) end %></td>
            </tr>
            <tr>
              <td>PpS pro Millionen</td>
              <td align="right"><%= if @player.pps == 0 then 'na' else (@player.pps/(@value.last["value"].to_f/1000000)).round(1)  end%></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
        <div class="card m-1">
            <h5  class="card-header">
              Marktwert und Punkte
            </h5>
            <%= high_chart("graph", @spieler_mw) %>
        </div>
      <div class="card m-1">
        <h5  class="card-header">
          Relative placeholder graph
        </h5>
        <%= high_chart("graph2", @tw_marktwert_gesamt) %>
      </div>
    </div>
  </div>
</div>









